* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 300;
  background-color: #fff;
  color: #555;
}

/*Navigation*/
.navigation {
  display: flex;
}

.logo-section {
  margin-right: 500px;
  margin-left: 50px;
}

.main-nav ul {
  list-style: none;
  display: flex;
}
.main-nav ul li {
  margin: 15px 20px;
  font-size: 130%;
  font-weight: 600;
  cursor: pointer;
}

.main-nav ul :hover,
.main-nav ul :active {
  border-bottom: solid 1px rgb(252, 151, 0);
}

/* Main Section*/
.main {
  width: 100%;
  background-image: url(/images/MainPhoto.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 200px;
}
.main h1 {
  margin-left: 30px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-size: 150%;
  font-weight: 600;
}

.main .btn1 {
  text-decoration: none;
  font-size: 120%;
  font-weight: 600;
  word-spacing: 5px;
  margin-left: 100px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  padding: 5px 15px;
  word-spacing: 2px;
}

/* پرفروش ترین محصولات */

/* تیتر پرفروش ترین محصولات */

.bestsell-head {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 120%;
  font-weight: 500;
  justify-content: space-between;
}

.head1 {
  margin-left: 80px;
  text-decoration: none;
  color: #555;
  cursor: pointer;
}
.head1.btn.btn-outline-secondary {
  color: #212529;
}

.head2 {
  margin-right: 80px;
  align-items: flex-start;
}

/* اسلاید پرفروش ترین محصولات */

.testimonials {
  background-color: #ffffff;
  position: relative;
  padding-top: 20px;
}
.testimonials:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30%;
  background-color: #ddd;
}

#customers-testimonials .item-details {
  background-color: #333333;
  color: #fff;
  padding: 20px 10px;
  text-align: left;
}

#customers-testimonials .item-details h5 {
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 18px;
}

#customers-testimonials .item-details span {
  color: red;
  float: right;
  padding-right: 20px;
}

#customers-testimonials p {
  font-size: 14px;
}

#customers-testimonials .item {
  text-align: center;
  /*padding: 20px;*/
  margin-bottom: 80px;
}

.owl-carousel .owl-nav [class*="owl-"] {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.owl-carousel .owl-nav [class*="owl-"].disabled:hover {
  background-color: #d6d6d6;
}
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  font-size: 20px;
  color: #fff;
  border: 1px solid #ddd;
  text-align: center;
}
.owl-carousel .owl-prev {
  left: -70px;
}
.owl-carousel .owl-next {
  right: -70px;
}

/* Categories*/

.categories {
  width: 100%;
  height: 60vh;
  display: flex;
}
.category-title {
  width: 100%;
  display: flex;
  padding: 5px;
}
.deserve {
  background-image: url(/images/amy-baugess-MNju0A6EeE0-unsplash.jpg);
  background-repeat: no-repeat;
  flex: 40;
  height: 337.2px;
}

.deserve p {
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 150%;
  font-weight: 600;
}

.offproducts {
  flex: 60;
  background-color: rgb(238, 223, 223);
  height: 337.2px;
  margin-left: 20px;
  position: relative;
}

.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: relative;
}

.ribbon {
  font: bold 20px sans-serif;
  color: #333;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  padding: 7px 0;
  top: 10px;
  left: -30px;
  width: 120px;
  background-color: rgb(185, 45, 45);
  color: #fff;
  position: absolute;
}

#carouselExampleIndicators {
  width: 600px;
  height: 350px;
  top: 10px;
  right: 60px;
  position: absolute;
}

.carousel-inner.except {
  width: 100%;
  height: 300px;
}
