* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 300;
  background-color: #fff;
  color: #555;
}

/*Navigation*/
.navigation {
  display: flex;
  color: #555;
}

.logo-section {
  margin-right: 500px;
  margin-left: 50px;
}

.main-nav ul {
  list-style: none;
  display: flex;
}
.main-nav ul li {
  margin: 15px 10px;
  font-size: 130%;
  font-weight: 600;
  cursor: pointer;
}

.main-nav ul :hover,
.main-nav ul :active {
  border-bottom: solid 1px rgb(252, 151, 0);
}

/* Main Section*/
.main {
  width: 100%;
  background-image: url(/images/MainPhoto.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 200px;
}
.main h1 {
  margin-left: 30px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-size: 150%;
  font-weight: 600;
}

.mainbtn {
  text-decoration: none;
  font-size: 120%;
  font-weight: 600;
  word-spacing: 5px;
  margin-left: 100px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  padding: 5px 15px;
  word-spacing: 2px;
  color: #555;
}

/* پرفروش ترین محصولات */

/* تیتر پرفروش ترین محصولات */

.sections-head {
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  font-size: 120%;
  font-weight: 500;
  justify-content: space-between;
}
.sections-head.head1 {
  background-color: #fdfafb;
}
.sections-head.head2 {
  background-color: #e3d9df;
}
.sections-head.head3 {
  background-color: #ebccd4;
}

.head1 {
  text-decoration: none;

  color: #555;
  cursor: pointer;
}
.head1.btn.btn-outline-secondary {
  color: #212529;
}

.head2 {
  align-items: flex-start;
}

/* اسلاید پرفروش ترین محصولات */

.testimonials {
  background-color: #fdfafb;
  position: relative;
  padding-top: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#customers-testimonials .item-details {
  background-color: #5a5a5a;
  color: #fff;
  padding: 30px 10px;
  text-align: left;
  height: 120px;
}

#customers-testimonials .item-details h5 {
  width: 250px;
  color: #ebebeb;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  line-height: 25px;
}

#customers-testimonials .item {
  text-align: center;
  /*padding: 20px;*/
  margin-bottom: 80px;
}

.owl-carousel .owl-nav [class*="owl-"] {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.owl-carousel .owl-nav [class*="owl-"].disabled:hover {
  background-color: #d6d6d6;
}
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  font-size: 20px;
  color: #fff;
  border: 1px solid #ddd;
  text-align: center;
}
.owl-carousel .owl-prev {
  left: -70px;
}
.owl-carousel .owl-next {
  right: -70px;
}

/* DOG SECTION */
.dogs-part {
  background-color: #e3d9df;
  height: 430px;
  display: flex;
}

.dogs-container {
  display: flex;
  height: 430px;
  width: 1116px;
  margin: 0 auto;
  padding-bottom: 60px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.blurred-box {
  position: absolute;
  background-color: #fff;
  opacity: 0.7;
}
.blurred-inner {
  text-align: center;
  margin: 0 auto;
}

/* DOG TOYS */
#dogs-toys {
  flex-grow: 1;
  padding: 5px;
  margin: 20px;
  background-color: #c47179;
  position: relative;
}

.blurred-box.dog-toys {
  top: 20px;
  left: 20px;
  width: 210px;
  height: 140px;
}
.blurred-inner.dog-toys {
  width: 200px;
  padding: 45px 0;
}
.dogs-toys-image {
  width: 200px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
/* DOG FOOD */
#dogs-food {
  flex-grow: 2;
  margin: 20px;
  padding: 5px;
  background-image: url(images/DogSection/kojirou-sasaki-AE4nDmxQYtI-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.blurred-box.dog-food {
  bottom: 10px;
  left: 40px;
  width: 260px;
  height: 100px;
}
.blurred-inner.dog-food {
  width: 260px;
  padding: 25px 0;
}

.blurred-title a {
  font-size: 170%;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#dogs3 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}
/* ِDOG BEDS */
#dogs-bed {
  flex: 1;
  background-image: url(images/DogSection/DogBed.jpg);
  position: relative;
}
.blurred-box.dog-beds {
  bottom: 10px;
  left: 35px;
  width: 180px;
  height: 60px;
}
.blurred-inner.dog-food {
  width: 260px;
  padding: 25px 0;
}
/* DOG PLATES */
#dogs-plate {
  margin-top: 10px;
  flex: 1;
  background-color: #6998a3;
  position: relative;
}
.blurred-box.dog-plates {
  bottom: 20px;
  left: 35px;
  width: 180px;
  height: 120px;
}
.blurred-inner.dog-plates {
  width: 180px;
  padding: 3px 0;
}
.blurred-title.b a {
  font-size: 170%;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* CATS SECTION */

.cats-part {
  background-color: #ebccd4;

  height: 430px;
  display: flex;
}

.cats-container {
  display: flex;
  padding-bottom: 40px;
  height: 430px;
  width: 1116px;
  margin: 0 auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* CAT TOYS */
#cats-toys {
  background-image: url(images/CatSection/1.png);
  background-position: center;
  background-size: cover;
  flex-grow: 2;
  padding: 5px;
  margin: 20px;
  position: relative;
}

.blurred-box.cats-toys {
  bottom: 20px;
  right: 140px;
  width: 210px;
  height: 110px;
}
.blurred-inner.cats-toys {
  width: 200px;
  padding: 30px 0;
}

/* CAT FOOD */
#cats-food {
  flex-grow: 1;
  margin: 20px;
  padding: 5px;
  background-color: #e3adca;
  position: relative;
}

.blurred-box.cat-food {
  top: 10px;
  left: 35px;
  width: 190px;
  height: 100px;
}
.blurred-inner.cat-food {
  width: 150px;
  padding: 25px 0;
}

.blurred-title a {
  font-size: 170%;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.cats-toys-image {
  width: 150px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

#cats3 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}
/* ِCAT BEDS */
#cats-bed {
  flex: 1;
  background-image: url(images/CatSection/3.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.blurred-box.cat-beds {
  bottom: 10px;
  left: 35px;
  width: 180px;
  height: 60px;
}
.blurred-inner.cat-beds {
  width: 180px;
  padding: 10px 0;
}
/* CAT PLATES */
#cats-plate {
  margin-top: 10px;
  flex: 1;
  background-color: #d2618c;
  position: relative;
}
.blurred-box.cat-plates {
  position: absolute;
  bottom: 20px;
  left: 35px;
  width: 180px;
  height: 150px;
}
.blurred-inner.cat-plates {
  width: 180px;
  padding: 15px 0;
}
.blurred-title.b a {
  font-size: 170%;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* NEWSLETTER */
.home-newsletter {
  padding: 60px 0;
  background: #a75858;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
.home-newsletter .single h2 {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.home-newsletter .single .form-control {
  height: 50px;
  background: rgb(255, 255, 255);
  border-color: transparent;
  border-radius: 20px 0 0 20px;
}
.home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #243c4f;
}
.home-newsletter .single .btn {
  min-height: 50px;
  border-radius: 0 20px 20px 0;
  background: #243c4f;
  color: #fff;
}

/*FOOTER*/
footer {
  background-color: #ffffff;
  margin-bottom: 0;
  padding-bottom: 40px;
  height: 450px;
  color: #555;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.footer-container {
  padding: 40px;
  display: flex;
  height: 250px;
  width: 1116px;
  margin: 0 auto;
}
/* footer category */
.footer-category {
  flex-grow: 1;
  margin: 20px;
  padding: 5px;
  direction: rtl;
}
.footer-category h4 {
  margin-bottom: 20px;
  direction: rtl;
}

/* footer contact */
.footer-contact {
  flex-grow: 1;
  margin: 20px;
  padding: 5px;
  direction: rtl;
}
.footer-contact h4 {
  margin-bottom: 20px;
  direction: rtl;
}

/* footer social */
.footer-social {
  flex-grow: 1;
  margin: 20px;
  padding: 5px;
  direction: rtl;
}
.footer-social h4 {
  direction: rtl;
}
.social-links {
  display: flex;
}
.social-links li {
  list-style: none;
  width: 30px;
  height: 30px;
  padding: 2px;
  margin: 10px;
}
#image3 {
  width: 30px;
  height: 30px;
}
/* copyright */
.copyright-container {
  display: flex;
  height: 200px;
}
#cat-footer {
  flex: 1;
  margin: 5px 5px 0;
  position: relative;
}
.center-image-footer1 {
  position: absolute;
  bottom: 8px;
  left: 150px;
}
.center-image-footer {
  position: absolute;
  bottom: 10px;
  left: 150px;
}
#copyright-p {
  flex: 1;
  position: relative;
  margin: 5px 5px 0;
  text-align: center;
}
#copyright-p-center {
  position: absolute;
  left: 40px;
  bottom: 5px;
}
#dog-footer {
  flex: 1;
  margin: 5px 5px 0;
  position: relative;
}
